<div class="team team-summary mh_list">
  {{ if .Params.image }}
  <div class="team-image">
    <img alt="Photo von {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="team-meta">
    <h2 class="team-name">{{ .Title }}</h2>
    <p class="team-description">{{ .Params.Jobtitle }}</p>
    
    <p class="team-description">
    {{ if .Params.email }}

    <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a> {{ end }}
  </p>

    <p class="team-description">
    {{ if .Params.wwwurl }}
    <a target="_blank" href="{{ .Params.wwwurl }}">{{ .Params.wwwurl }}</a> {{ end }}
  </p>
  <p class="team-description">
    {{ if .Params.tel }}
    <a target="_blank" href="{{ .Params.tel }}">{{ .Params.tel }}</a> {{ end }}
  </p>
  <br>
  </div>
  <div class="team-content">{{ .Content }}</div>
</div>