$hamburger-layer-color: #aa1111;
$hamburger-active-layer-color: #ff1111;
$hamburger-layer-spacing: 5px;

#beta {
   font-size       : 0.8rem;
   font-weight     : bold;
   background-color: #9c1079;
   border-radius   : 2rem;
   color           : #111199;
   box-shadow      : 5px 10px #888888;
   width           : 300px;
   height          : 50px;
   padding         : 0.5rem;
   float           : center;
};

.mh_bau {
   font-size       : 0.8rem;
   font-weight     : bold;
   background-color: #9c1079;
   border-radius   : 2rem;
   color           : #111199;
   box-shadow      : 5px 10px #888888;
   width           : 300px;
   height          : 50px;
   padding         : 0.5rem;
   float           : center;
};
/*
.mh_list ul li {
    display: block;
  }

.mh_list ul li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 0.9rem;
    float: none;
    margin-top: 0.3rem;
    margin-left: 0.9rem;
    color: rgb(16, 5, 48);


}
 */
.mh_list ul li {
   list-style-type: circle;
   margin         : 0;
   padding        : 0;
}
@media print {
   @page {
      margin          : 0;
      background-color: rgb(211, 227, 209);
   }

   body {
      margin: 1.6cm;
   }

   .sub-footer-inner {
      display: none;
   }
}
/*


*/
// Farben
$farbe-hell-l: rgba(252, 252, 212, 0.999); // hell-links
$farbe-hell-r: rgba(214, 255, 239, 0.999); // hell-rechts
$farbe-dunkel-l: rgba(206, 232, 166, 0.999); // dunkel-links
$farbe-dunkel-r: rgba(173, 240, 189, 0.999); // dunkel-rechts
$farbe-mitte: rgba(203, 255, 194, 0.999); // mitte
$farbe-dunkel-1: rgba(57, 72, 55, 0.91);
$farbe-dunkel-2: rgba(40, 57, 44, 0.999);
$farbe-dunkel-3: rgba(148, 168, 154, 0.999);
$farbe-hell-1: rgba(238, 237, 175, 0.999);
$farbe-hell-2: rgba(245, 243, 127, 0.999);
$farbe-hell-3: rgba(148, 168, 154, 0.999); // test mit formen und farben
@function svg-icon-stern($farbe) {
   @return url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166 166"><polygon fill="'+$farbe+'" points="83 26.8 65.7 61.8 27.1 67.4 55 94.7 48.5 133.2 83 115 117.5 133.2 111 94.7 138.9 67.4 100.3 61.8 83 26.8 83 26.8"/></svg>');
}
@function svg-icon-dreieck($farbe) {
   @return url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon fill="'+$farbe+'" points="83 26.8 65.7 61.8 27.1 67.4 55 94.7 48.5 133.2 83 115 117.5 133.2 111 94.7 138.9 67.4 100.3 61.8 83 26.8 83 26.8"/></svg>');
}

.header {
   // background-image: linear-gradient(45deg, $farbe-hell-1 0%, $farbe-hell-l 50%);
   // background-image: svg-icon-dreieck($farbe-hell-l);
   // background      : url("/images/back/header-verlauf-anima.svg");
   background      : url("/images/back/test.svg");
   background-size : cover;
   width           : 100%;
   // height          : 0;
   // padding         : 0 0 calc(100% * 3 / 4);
   background-color: $farbe-hell-1;
   // viewBox         : 0 0 60 55;
}

.aktive {
   border-radius: 10em;
}

.intro {
   background-color: $farbe-hell-l;
}

.footer {
   background-color: $farbe-hell-2;
}

.sub-footer {
   background-color: $farbe-dunkel-l;
}

.wrapper {
   background-color: $farbe-hell-l;
}

.call {
   background-color: $farbe-hell-2;
}

.feature {
   background-color: $farbe-hell-l;
}

.feature-title {
   background-color: $farbe-hell-l;
}

.featurr-content {
   background-color: $farbe-hell-l;
}

.service {
   background-color: $farbe-hell-l;
}

.service-summary {
   background-color: $farbe-hell-l;
}

.service-content {
   background-color: $farbe-hell-l;
}

.service-title {
   background-color: $farbe-hell-l;
}

.service-content {
   background-color: $farbe-hell-l;
}

body > div.wrapper > div.strip {
   background-color: $farbe-hell-1;
}

.button {
   background-color: $farbe-dunkel-2;
}

.button-primary {
   background-color: $farbe-dunkel-2;
}

.open {
   background-color: $farbe-dunkel-2;
}
// rundungen

.round-1 {
   border-radius: 3rem;
}

.round-2 {
   border-radius: 5rem;
}

.round-3 {
   border-radius: 5rem;
}

.feature {
   border-radius: 5rem;
}

.call {
   border-radius: 2rem;
}

.service-title {
   border-radius: 5rem;
}
// bilder
// verschibt immernoch den content

.img-l {
   padding : 0 20px;
   float   : left;
   overflow: auto;
}

.img-r {
   padding : 0 20px;
   float   : right;
   overflow: auto;
}
/* .intro::after {
  content: '';
  float: left;
  width: 25%
} */