<div class="service service-summary">
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <p>{{ .Content | truncate 220 "..." | plainify }}</p>
  </div>
</div>
