.logo {
   display: none;
   @include media-breakpoint-up(sm) {
      display: block;
      width  : 260px;
   }

   img {
      width : 100%;
      height: auto;
   }

   a {
      display: block;
      width  : 100%;
      height : 100%;
   }
}

.logo-mobile {
   display: block;
   width  : 80px;
   padding: 6px 0;
   @include media-breakpoint-up(sm) {
      display: none;
   }

   img {
      width : 100%;
      height: auto;
   }

   a {
      display: block;
      width  : 100%;
      height : 100%;
   }
}

.logo {
   path {
      #Hugo {
         fill: '#141414';
      }

      #Serif {
         fill: red;
      }
   }
}