.main-menu {
   display: none;
   @include media-breakpoint-up(md) {
      display: block;
   }

   > ul {
      display        : flex;
      align-items    : center;
      justify-content: flex-start;

      > li {
         list-style: none;
         font-size : 1.1rem;

         > a {
            padding        : 10px 14px;
            display        : inline-block;
            font-weight    : regular;
            text-decoration: none;
            color          : $primary;

            &:hover {
               text-decoration: underline;
            }
         }

         &.active {
            > a {
               background     : $primary;
               border-radius  : 3px;
               text-decoration: none;
               color          : #ffffff;

               &:hover {
                  text-decoration: none;
                  background     : $primary;
                  transition     : all 225ms ease-in 0s;
                  color          : #ffffff;
               }
            }
         }
      }
   }
}