<div class="call">
  <div class="call-box-top">
    {{ if .Site.Data.contact.phone }}
    <div class="call-phone"><strong>Tel </strong> 
      {{ .Site.Data.contact.phone }} 
    </div>
    {{ end }}

    {{ if .Site.Data.contact.mobile }}
    <div class="call-phone"><strong>Mobil </strong> 
      <a href="tel:{{ .Site.Data.contact.mobile }} ">{{ .Site.Data.contact.mobile }} </a>
    </div>
    {{ end }}

    {{ if .Site.Data.contact.fax }}
    <div class="call-phone"><strong>Fax </strong> 
      {{ .Site.Data.contact.fax }} 
    </div>
    {{ end }}

    {{ if .Site.Data.contact.email }}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
    {{ end }}

    {{ if .Site.Data.contact.termin_txt }}
    <br>
    <div class="call-email"><strong>Termine: </strong>
        {{ .Site.Data.contact.termin_txt }}
    
    </div>
    {{ end }}

  </div>
  <div class="call-box-bottom">
    <a href="{{ "kontakt/" | relURL }}" class="button">Kontakt</a>
  </div>
</div>

