<div class="call">
  <div class="call-box-top">
    {{ if .Site.Data.contact.name }}
    <div class="call-phone">
      <strong>{{ .Site.Data.contact.name }}</strong>  
    </div>
    {{ end }}

    {{ if .Site.Data.contact.street }}
    <div class="call-phone">
      <strong>{{ .Site.Data.contact.street }}</strong>  
    </div>
    {{ end }}

    {{ if .Site.Data.contact.city }}
    <div class="call-phone">
      <strong>{{ .Site.Data.contact.city }}</strong>  
    </div>
    {{ end }}

  </div>
  <div class="call-box-bottom">
    <a href="{{ "kontakt/" | relURL }}" class="button">Impressum</a>
  </div>
</div>
