{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- <div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
<h1>{{ .Title }}</h1>

      {{ .Content }}


        <p><strong>Telefon: </strong>{{ .Site.Data.contact.phone }}</p>
        <p><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></p>
        <p><strong>Website: </strong> <a href="{{ .Site.Data.contact.web }}">
              {{ .Site.Data.contact.web }}</a></p>
        <p><strong>Anschrift:</p>
        <p></strong>{{ .Site.Data.contact.street }}</p>
        <p>{{.Site.Data.contact.city }}</p>




    </div>
  </div>
</div>
{{ end }}
