{{ define "main" }}
<main class="contact">

  <div class="intro">
    <div class="container">
      <div class="row justify-content-start">

        {{ if .Params.intro_image }}
        <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
          <img class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}" src="{{ .Params.intro_image | relURL }}" />
        </div>
        {{ end }}

        <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">

          <h1 class="contact__title">{{ .Title }}</h1>
          <p class="contact__content">{{ .Description }}</p>


          <br>
          {{ partial "call.html" . }}
          <br>
          {{ .Content }}

          <br>
          <br>
          
            <br>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
